footer{
    z-index: 0;
    position: fixed;
    bottom: 0;
    width: 100%; height: 80vh;
    padding:  $margeL $margeS $margeS;
    background: $black;
    color: $white;
    a{
        color:$white
    }
    h3{
        margin-bottom: 1em;
    }
    .infos{margin-bottom: $margeM;}
    .contacts,
    .colophon{
        margin-bottom: $margeL;
    }
    .copy{
        position: absolute;
        bottom: $margeM; width: 100%;
    }
    svg{
        position: absolute;
        width: 100%; height: auto;;
        bottom: 0;
        path{
            fill: $white;
        }
    }
}

@media all and (max-width:$s){
    footer{
        padding:  $margeM $margeXS $margeXS;
        height: 100vh;
        // .row{height: 100%;}
        .infos,
        .contacts,
        .colophon{
            margin-bottom: $margeM;
            p{font-size: $fontS;}
        }
        .copy{position: initial;}
    }
}