header{
    //position: sticky;
    position: fixed; width: 100%;
    top: 0;
    z-index: 250;
    //margin-bottom: $margeM;
    padding: $margeS;
    &.down{
        svg {
            g{
                path{@include slide(top, 1)}
                path:first-child{@include slide(none, 1)}
            }
        }
    }
    .logo{
        margin-bottom: $margeS;
        svg{
            width: 100%;
            vertical-align: top;
            g path{
                transition: transform .2s ease-in-out;
            }
        }
    }

}

.downscroll{
    header{
        .inner{
            @include slide(top, 0);
        }
    }
}


@media all and (max-width:$s){
    header{
        padding: $margeXS;
        
    }
}