header{
    //position: sticky;
    position: fixed; width: 100%;
    top: 0;
    z-index: 250;
    //margin-bottom: $margeM;
    padding: $margeS;
    .logo{
        margin-bottom: $margeS;
        svg{
            width: 100%;
            vertical-align: top;
            // path{
            //     fill:$black
            // }
        }
    }
    // background: $bg;
    // nav{
    //     ul{
    //         @include flexbox();
    //         li{
    //             margin-left: 5px;
    //         }
    //     }
    // }
}

.downscroll{
    header{
        .inner{
            @include slide(top, 0);
        }
    }
}


@media all and (max-width:$s){
    header{
        // padding: $margeXS;
        
    }
}