.template-project{
  main{
    padding-left: 0;
    padding-right: 0;
  }
  .hero{}
  .header{
    padding-top: $margeS;
    
    .item{
      border-bottom: $border;
      padding-bottom: $margeS;
    }
  }
  .content{
    padding-top: $margeS;
    padding-bottom: $margeS;
    .credits{
      li{margin-bottom: 1em;}
      a{text-decoration: underline;}
    }
  }
}


@media all and (max-width:$s){
  .template-project{
    .header{
      padding-top: 0;
      
      .item{
        padding-top: $margeXS;
        padding-bottom: $margeXS;
      }
      h1,
      .metas{font-size: $fontS;}
    }
    .content{
      padding-top: $margeXS;
      padding-bottom: $margeXS;
      
      .credits{
        li{margin-bottom: 1em;}
        a{text-decoration: underline;}
      }
    }
  }
}