.template-project {
  main {
    padding-left: 0;
    padding-right: 0;
  }

  .hero {}

  .header {
    padding-top: $margeS;

    .item {
      border-bottom: $border;
      padding-bottom: $margeS;
    }
  }

  .content {
    padding-top: $margeS;
    padding-bottom: $margeS;
    margin-bottom: $margeL;

    .credits {
      li {
        margin-bottom: 1em;
      }

      a {
        text-decoration: underline;
      }
    }
  }

  .related {

    .section-title {
      // border-top: $border;
      padding: $margeS 0;
    }
  }
}


@media all and (max-width:$s) {
  .template-project {
    .header {
      padding-top: 0;

      .item {
        padding-top: $margeXS;
        padding-bottom: $margeXS;
      }

      h1,
      .metas {
        font-size: $fontS;
      }
    }

    .content {
      padding-top: $margeXS;
      padding-bottom: $margeXS;

      .credits {
        li {
          margin-bottom: 1em;
        }

        a {
          text-decoration: underline;
        }
      }
    }

    .related {
      .section-title {
        font-size: $fontS;
        padding-top: $margeXS;
        padding-bottom: $margeXS;
      }
    }
  }
}